@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #3A4562;
    --color-background: #dde0ea;
    --color-background-job: #EFF0F5;
    --color-muted: #878D9D;
    --color-text: #5C637A;
    --color-paragraph: rgba(56, 65, 93, 0.82);
  }
}

html {
  font-family: proxima-nova, sans-serif;
}